/* menu da esquerda */
.menu {
    display: flex;
    gap: 20px;
}

/* login à direita */
.login {
    display: flex;
    margin-left: auto;
}
.navbar {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #1f2937;
    padding: 15px;
    border-radius: 10px;
}

/* Links */
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover bonito */
.navbar a:hover {
    background-color: #3b82f6;
    transform: scale(1.05);
}

/* Efeito de clique */
.navbar a:active {
    transform: scale(0.95);
}